<div class='container'>
  <div class='row'>
    <div class='col'>
      <p>Номер: <%= @user.phone %></p>
      <p>Ім`я: <%= @user.first_name %></p>
      <p>Фамилія: <%= @user.last_name %></p>
      <p>e-mail: <%= @user.email %></p>
      <p><%= link_to 'Edit private office', edit_user_registration_path%></p>

      <%= link_to "Back", :back %>
    </div>
    <div class='col'>
      <h1>Наші лікарі</h1>
      <hr>
      <%= form_with url: user_path(@user), method: :get do |form| %>
        <%= form.label :category_id, "Знайти лікаря:" %>
        <%= form.collection_select :category_id, Category.all, :id, :name %>
        <%= form.submit "Пошук" %>
      <% end %>
      <hr>
      <% @doctors.each do |doc| %>
        <p> <%= doc.full_name %> |
          <%= doc.category.name %>
        </p>
      <% end %>

    </div>
  </div>
</div>