<div class='container'>
  <div class='row'>
    <div class='col'>
      <h1>Hello</h1>
        <h2> time now: <%= @time.strftime("%H:%M") %></h2>
        <% if doctor_signed_in? %>
          <h3><%= link_to "Проіфіль лікаря" , doctor_path(current_doctor) %></h3>
        <% elsif user_signed_in? %>
          <h3><%= link_to "Приватний кабінет" , user_path(current_user) %></h3>
        <% else %>
          <h2><%= link_to "Продовжити як лікар" , new_doctor_registration_path %></h2>
    </div>
    <div class='col'>
        <h2><%= link_to "Зареєструватися" , new_user_registration_path %></h2>
        <h2><%= link_to "Увійти" , new_user_session_path %></h2>
    </div>
        <% end %>
        <%= button_to 'Вийти', destroy_user_session_path, method: :delete, data: { turbo: "false" } %>
  </div>
</div>